<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>10K Template</title>

    <style>
        html {
            font: 12px/22px helvetica;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
        }
        table {
            border: 2px solid #00B25B;
        }
        table thead {
            background-color: #00B25B;
            color: #F2FFF8;
        }
        table tbody tr:nth-child(even) {
            background-color: #D0FBDE;
        }
        table tbody tr:nth-child(odd) {
            background-color: white;
        }
        table tbody tr .table-section {
            font-weight: bold;
        }
        table tbody tr .table-section-total {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body>
    <h2>{{ entity.Name }}</h2>

    <table>
        <thead>
            <tr>
                <th colspan="4" rowspan="1">Consolidated Balance Sheets</th>
            </tr>
            <!--<tr>
                <th colspan="1" rowspan="1"></th>
                <th colspan="3" rowspan="1">12 Months Ended</th>
            </tr>-->
            <tr>
                <th></th>
                {% for report in reports %}
                <td>{{ report.endDate }}</td>
                {% endfor %}
                <!--<th>2014</th>-->
                <!--<th>2013</th>
                <th>2012</th>-->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class='table-section'>Assets</td>
                {% for report in reports %}
                <td></td>
                {% endfor %}
            </tr>
            <tr>
                <td>Cash and cash equivalents</td>
                {% for report in reports %}
                <td>{{ report.cash }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Short-term investments</td>
                {% for report in reports %}
                <td>{{ report.shortTermInvestments }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Accounts receivable, Net</td>
                {% for report in reports %}
                <td>{{ report.accountsReceivable }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Inventory, Net</td>
                {% for report in reports %}
                <td>{{ report.netInventory }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Deferred income tax</td>
                {% for report in reports %}
                <td>{{ report.netDeferredTax }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Other current assets</td>
                {% for report in reports %}
                <td>{{ report.otherAssetsCurrent }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Total current assets</td>
                {% for report in reports %}
                <td class='table-section-total'>{{ report.totalAssetsCurrent }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td>Property and equipment, Net</td>
                {% for report in reports %}
                <td>{{ report.propertyAndEquipment }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Goodwill</td>
                {% for report in reports %}
                <td>{{ report.goodwill }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Intangible assets, Net</td>
                {% for report in reports %}
                <td>{{ report.intangibleAssets }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Other assets</td>
                {% for report in reports %}
                <td>{{ report.otherAssetsNonCurrent }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Total assets</td>
                {% for report in reports %}
                <td class='table-section-total'>{{ report.totalAssets }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td class='table-section'>Liabilities</td>
                {% for report in reports %}
                <td></td>
                {% endfor %}
            </tr>
            <tr>
                <td>Accounts payable</td>
                {% for report in reports %}
                <td>{{ report.accountsPayable }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Claims and discounts payable</td>
                {% for report in reports %}
                <td>{{ report.claimsPayable }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Accrued expenses</td>
                {% for report in reports %}
                <td>{{ report.accruedLiabilities }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Short-term debt</td>
                {% for report in reports %}
                <td>{{ report.shortTermDebt }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Long-term debt, current portion</td>
                {% for report in reports %}
                <td>{{ report.longTermDebtCurrent }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Total current liabilities</td>
                {% for report in reports %}
                <td class='table-section-total'>{{ report.totalLiabilitiesCurrent }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td>Long-term debt</td>
                {% for report in reports %}
                <td>{{ report.longTermDebtNonCurrent }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Deferred income taxes</td>
                {% for report in reports %}
                <td>{{ report.taxLiabilityNonCurrent }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Other long-term liabilities</td>
                {% for report in reports %}
                <td>{{ report.otherLiabilitiesNonCurrent }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Commitments and contingencies</td>
                {% for report in reports %}
                <td>{{ report.commitments }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Total liabilities</td>
                {% for report in reports %}
                <td class='table-section-total'>{{ report.totalLiabilities }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td class='table-section'>Shareholders' equity</td>
                {% for report in reports %}
                <td></td>
                {% endfor %}
            </tr>
            <tr>
                <td>Preferred stock value</td>
                {% for report in reports %}
                <td>{{ report.preferredStockValue }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Common stock value</td>
                {% for report in reports %}
                <td>{{ report.commonStockValue }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Trasury stock value</td>
                {% for report in reports %}
                <td>{{ report.treasuryStockValue }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Shares held in trust</td>
                {% for report in reports %}
                <td>{{ report.employeeTrustShareValue }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Capital surplus</td>
                {% for report in reports %}
                <td>{{ report.capitalSurplus }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Retained earnings</td>
                {% for report in reports %}
                <td>{{ report.retainedEarnings }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Accumulated other comprehensive income (loss)</td>
                {% for report in reports %}
                <td>{{ report.accumulatedOtherIncome }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Stockholders' equity attributable to parent</td>
                {% for report in reports %}
                <td class='table-section-total'>{{ report.equityControlling }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Stockholders' equity attributable to noncontrolling interests</td>
                {% for report in reports %}
                <td>{{ report.equityMinority }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Total stockholders' equity</td>
                {% for report in reports %}
                <td class='table-section-total'>{{ report.totalEquity }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td>Total liabilities and shareholders' equity</td>
                {% for report in reports %}
                <td class='table-section-total'>{{ report.totalLiabilitiesAndEquity }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

</body>
</html>

