<table>
    <colgroup>
        <col span="1" style="width: 600px"></col>
        {% for date in dates %}
        <col span="1" style="width: 150px"></col>
        {% endfor %}
    </colgroup>
	<thead>
		<tr>
			<th colspan="{{ dates.length + 1 }}" rowspan="1">{{ title }}</th>
		</tr>
		<tr>
			<th></th>
			{% for date in dates %}
			<th>{{ date }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for line in lines %}
		<tr>
			{% if line.abstract %}
				<td class='table-section'>{{ line.label }}</td>
				{% for value in line.values %}
				<td></td>
				{% endfor %}
			{% else %}
				<td>{{ line.label }}</td>

                {% set isTotal = line.total %}

				{% for value in line.values %}
					{% if value %}
                        {% if isTotal %}
						    <td class='table-section-total'>{{ value }}</td>
                        {% else %}
                            <td>{{ value }}</td>
                        {% endif %}
					{% else %}
                        {% if isTotal %}
						    <td class='table-section-total'></td>
                        {% else %}
                            <td></td>
                        {% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
		</tr>
		{% endfor %}		
	</tbody>
</table>
<!--

<table>
	<thead>
		<tr>
			<th colspan="{{ balanceSheets.length + 1 }}" rowspan="1">Consolidated Balance Sheets</th>
		</tr>
		<tr>
			<th></th>
			{% for report in balanceSheets %}
			<th>{{ report.endDate }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class='table-section'>Assets</td>
			{% for report in balanceSheets %}
			<td></td>
			{% endfor %}
		</tr>
		<tr>
			<td>Cash and cash equivalents</td>
			{% for report in balanceSheets %}
			<td>{{ report.cash }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Short-term investments</td>
			{% for report in balanceSheets %}
			<td>{{ report.shortTermInvestments }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Accounts receivable, Net</td>
			{% for report in balanceSheets %}
			<td>{{ report.accountsReceivable }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Inventory, Net</td>
			{% for report in balanceSheets %}
			<td>{{ report.netInventory }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Deferred income tax</td>
			{% for report in balanceSheets %}
			<td>{{ report.netDeferredTax }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Other current assets</td>
			{% for report in balanceSheets %}
			<td>{{ report.otherAssetsCurrent }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Total current assets</td>
			{% for report in balanceSheets %}
			<td class='table-section-total'>{{ report.totalAssetsCurrent }}</td>
			{% endfor %}
		</tr>

		<tr>
			<td>Property and equipment, Net</td>
			{% for report in balanceSheets %}
			<td>{{ report.propertyAndEquipment }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Goodwill</td>
			{% for report in balanceSheets %}
			<td>{{ report.goodwill }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Intangible assets, Net</td>
			{% for report in balanceSheets %}
			<td>{{ report.intangibleAssets }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Other assets</td>
			{% for report in balanceSheets %}
			<td>{{ report.otherAssetsNonCurrent }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Total assets</td>
			{% for report in balanceSheets %}
			<td class='table-section-total'>{{ report.totalAssets }}</td>
			{% endfor %}
		</tr>

		<tr>
			<td class='table-section'>Liabilities</td>
			{% for report in balanceSheets %}
			<td></td>
			{% endfor %}
		</tr>
		<tr>
			<td>Accounts payable</td>
			{% for report in balanceSheets %}
			<td>{{ report.accountsPayable }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Claims and discounts payable</td>
			{% for report in balanceSheets %}
			<td>{{ report.claimsPayable }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Accrued expenses</td>
			{% for report in balanceSheets %}
			<td>{{ report.accruedLiabilities }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Short-term debt</td>
			{% for report in balanceSheets %}
			<td>{{ report.shortTermDebt }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Long-term debt, current portion</td>
			{% for report in balanceSheets %}
			<td>{{ report.longTermDebtCurrent }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Total current liabilities</td>
			{% for report in balanceSheets %}
			<td class='table-section-total'>{{ report.totalLiabilitiesCurrent }}</td>
			{% endfor %}
		</tr>

		<tr>
			<td>Long-term debt</td>
			{% for report in balanceSheets %}
			<td>{{ report.longTermDebtNonCurrent }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Deferred income taxes</td>
			{% for report in balanceSheets %}
			<td>{{ report.taxLiabilityNonCurrent }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Other long-term liabilities</td>
			{% for report in balanceSheets %}
			<td>{{ report.otherLiabilitiesNonCurrent }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Commitments and contingencies</td>
			{% for report in balanceSheets %}
			<td>{{ report.commitments }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Total liabilities</td>
			{% for report in balanceSheets %}
			<td class='table-section-total'>{{ report.totalLiabilities }}</td>
			{% endfor %}
		</tr>

		<tr>
			<td class='table-section'>Shareholders' equity</td>
			{% for report in balanceSheets %}
			<td></td>
			{% endfor %}
		</tr>
		<tr>
			<td>Preferred stock value</td>
			{% for report in balanceSheets %}
			<td>{{ report.preferredStockValue }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Common stock value</td>
			{% for report in balanceSheets %}
			<td>{{ report.commonStockValue }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Trasury stock value</td>
			{% for report in balanceSheets %}
			<td>{{ report.treasuryStockValue }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Shares held in trust</td>
			{% for report in balanceSheets %}
			<td>{{ report.employeeTrustShareValue }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Capital surplus</td>
			{% for report in balanceSheets %}
			<td>{{ report.capitalSurplus }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Retained earnings</td>
			{% for report in balanceSheets %}
			<td>{{ report.retainedEarnings }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Accumulated other comprehensive income (loss)</td>
			{% for report in balanceSheets %}
			<td>{{ report.accumulatedOtherIncome }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Stockholders' equity attributable to parent</td>
			{% for report in balanceSheets %}
			<td class='table-section-total'>{{ report.equityControlling }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Stockholders' equity attributable to noncontrolling interests</td>
			{% for report in balanceSheets %}
			<td>{{ report.equityMinority }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>Total stockholders' equity</td>
			{% for report in balanceSheets %}
			<td class='table-section-total'>{{ report.totalEquity }}</td>
			{% endfor %}
		</tr>

		<tr>
			<td>Total liabilities and shareholders' equity</td>
			{% for report in balanceSheets %}
			<td class='table-section-total'>{{ report.totalLiabilitiesAndEquity }}</td>
			{% endfor %}
		</tr>
	</tbody>
</table>-->
