<table>
    <thead>
        <tr>
            <th colspan="{{ financials.length + 1 }}" rowspan="1">Consolidated Financial Positions</th>
        </tr>
        <tr>
            <th></th>
            {% for report in financials %}
            <th>{{ report.endDate }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Preferred Stock, par value / share</td>
            {% for report in financials %}
            <td>{{ report.prefStockPar }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Preferred Stock, shares authorized</td>
            {% for report in financials %}
            <td>{{ report.prefStockAuth }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Preferred Stock, shares issued</td>
            {% for report in financials %}
            <td>{{ report.prefStockIssued }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Preferred Stock, shares outstanding</td>
            {% for report in financials %}
            <td>{{ report.prefStockOutstanding }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td>Common Stock, par value / share</td>
            {% for report in financials %}
            <td>{{ report.commonStockPar }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Common Stock, shares authorized</td>
            {% for report in financials %}
            <td>{{ report.commonStockAuth }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Common Stock, shares issued</td>
            {% for report in financials %}
            <td>{{ report.commonStockIssued }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Common Stock, shares outstanding</td>
            {% for report in financials %}
            <td>{{ report.commonStockOutstanding }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Treasury stock, shares</td>
            {% for report in financials %}
            <td>{{ report.treasuryShares }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Shares held in trust</td>
            {% for report in financials %}
            <td>{{ report.employeeTrustShares }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
